body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #565a43;
    color: #ffffff;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 4rem;
}

a {
    color: #5aa7ff;
}

.github-link-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.github-link-button:hover {
    background-color: #555;
}

.horizontal-nav {
    background-color: #333;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
    opacity: 0.8;
}

.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.horizontal-nav li {
    float: left;
}

.horizontal-nav a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-nav a:hover {
    background-color: #555;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c2c2c;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(233, 6, 6, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}