body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #565a43;
    background-image: url('path/to/image.jpg');
    color: #ffffff;
}

main {
    margin: 0 auto; /* Center align main content */
    max-width: 900px; /* Set maximum width for main content */
    padding: 20px; /* Add padding */
    background-color: #34495e; /* Darker green background for main content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow */
    vertical-align: middle;
}

ul {
    text-align: left; /* Left align bullet points */
    padding-left: 20px; /* Add left padding to bullet points */
}

img {
    display: block; /* Ensure images are centered properly */
    margin: 0 auto 20px; /* Center align images and add bottom margin */
    max-width: 100%; /* Ensure images don't exceed container width */
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 4rem;
    text-align: center; /* Left align bullet points */
}

a {
    color: #5aa7ff;
}

.github-link-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.github-link-button:hover {
    background-color: #555;
}

.horizontal-nav {
    background-color: #333;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
    opacity: 0.8;
}

.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.horizontal-nav li {
    float: left;
}

.horizontal-nav a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-nav a:hover {
    background-color: #555;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c2c2c;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(233, 6, 6, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Fluid layout */
@media (max-width: 768px) and (max-height: 518px) {
    body {
        width: 100%;
        height: 100%;
    }
}

/* Viewport */
@viewport {
    width: device-width;
    zoom: 1.0;
}

.formsearch {
    background-color: #464646;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }